$font-family: '"JetBrainsMono", "Flexo", "sans-serif"';
$font-family-heading: '"JetBrainsMono", "Flexo", "sans-serif"';
$font-family-mono: '"JetBrainsMono", "Flexo", "sans-serif"';

$theme-color: #f26d6d;
